<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DOC</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>HOME PAGE</h1>
       <p>Total Books: {{num_books}}</p>
        <p>Num Available:{{num_instances_avail}}</p>
        {% if user.is_authenticated %}
        <p>YOU ARE LOGGED IN!</p>
        <p>Welcome:{{user.get_username}}</p>
        <a href="{% url 'logout' %}?next={{request.path}}">LOGOUT</a>
        {% else %}
        <p>You are not logged in </p>
        <a href="{% url 'login' %}?next={{request.path}}">LOGIN</a>
        {% endif %}
        <script src="" async defer></script>
    </body>
</html>